* {
  box-sizing: border-box;
}

.App {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 60px;
}

.App > h1 {
  margin-bottom: 20px;
}

.fetch-button {
  min-width: 50px;
  margin-bottom: 25px;
  padding: 15px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  background-color: #000000;
  border: none;
  color: #ffffff;
  transition: all 0.5s;
}

.fetch-button:hover {
  background-color: #ffffff75;
  color: #000000;
  border-radius: 5px;
}

.music {
  position: relative;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  margin-top: 50px;
  margin-right: 100px;
  margin-left: 200px;
  width: 50%;
  color: #000000;
  flex-basis: width;
  background-color: #dddddd85;
}

.music h3 {
  margin-bottom: 5px;
  font-size: 1rem;
  opacity: 0.5;
}

.music h2 {
  margin-top: 1px;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.details {
  text-align: left;
}

.navhead {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex: 1;
  flex-direction: column;
}

.navhead-top__seperator {
  width: 75%;
  border: none;
  height: 2px;
  margin-top: 2px;
  background-color: black;
}

.search {
  display: flex;
  flex-direction: row;
}

.search-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  color: inherit;
  text-decoration: underline;
  text-transform: uppercase;
  outline: none;
}