* {
  box-sizing: border-box;
}

.App {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 60px;
}

.App > h1 {
  margin-bottom: 5px;
}

.fetch-button {
  min-width: 50px;
  margin-bottom: 25px;
  padding: 15px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  background-color: #000000;
  border: none;
  color: #ffffff;
  transition: all 0.5s;
}

.fetch-button:hover {
  background-color: #ffffff75;
  color: #000000;
  border-radius: 5px;
}

.music {
  display: flex;
  flex-wrap: wrap;
}

.music {
  background: #fff;
  position: relative;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  width: 60%;
  color: rgb(0, 0, 0);
  flex-basis: width;
  background-color: rgba(122, 91, 126, 0.377);
}

.music h3 {
  margin-bottom: 5px;
  font-size: 1rem;
  opacity: 0.7;
}

.music h2 {
  margin-top: 5px;
  margin-bottom: 30px;
  font-size: 1.5rem;
}

.details {
  text-align: left;
}

.header {
  margin-top: 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.header-top {
  display: flex;
  width: 100%;
  height: 80px;
}

.header-top__navbar {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.header-top__seperator {
  width: 100%;
  border: none;
  height: 2px;
  margin-top: 2px;
  background-color: black;
}

.header-top__navigation {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 55px;
}


.navbar {
  display: flex;
  flex-direction: row;
}

.navbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  color: inherit;
  text-decoration: inherit;
  text-transform: uppercase;
  outline: none;
}